<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">NanoClaw on %h</name>
  <service protocol="ipv4">
    <type>_https._tcp</type>
    <port>443</port>
    <txt-record>path=/api/even/v1/healthz</txt-record>
  </service>
</service-group>
